@import url('fonts.css');

body {
	width: 100%;
	margin: auto;
	overflow: hidden;
}
header {
	height: 150px;
	width: 100%;
}
header nav{
	height:30%;
}
.banner {
	height: 70%;
	width: 100%;
}
nav {
	box-shadow: 0 0.5px 1px 0.6px #000;
	-moz-box-shadow: 0 0.5px 6px 1px #000;
	-webkit-box-shadow: 0 1px 5px 0.5px #000;
	-o-box-shadow: 0 0.5px 1px 0.6px #000;
	width: 100%;
	
	background-image: url('../images/back.jpg');
}

.user {
	position: absolute;
	right: -10px;
	float: right;
	width: 20%;
	height: 50px;
	background-image: url('../images/back.jpg');
	border-radius: 2px;
	margin-top: 20px;
}
.user .details {
	margin: auto;
	margin-top: 10px;
	margin-left: 10px;
}
footer {
	position: absolute;
	bottom: 0;
	height: 20%;
	width: 100%;
	background-image: url('../images/back_2.jpg');
	-webkit-box-shadow: inset 0px 2px 5px 1px #000;
	box-shadow: inset 0px 2px 5px 1px #000;
}
.content {
	margin: auto;
	margin-top: 40px;
	background-image: url('../images/back.jpg');
	height: 50%;
	width: 70%;
	border-radius: 5px;
	box-shadow: 0 0.5px 1px 0.6px #000;
	-moz-box-shadow: 0 0.5px 6px 1px #000;
	-webkit-box-shadow: 0 1px 5px 0 #000;
	-o-box-shadow: 0 0.5px 1px 0.6px #000;
}
nav a {
	margin-top: 10px;
	font-size: 20px;
	font-family: Imperator;
	/*text-shadow: 0.5px 0.7px 1px #858585;
	 -webkit-text-shadow: 0.5px 0.7px 1px #858585;
	 -moz-text-shadow: 0.5px 0.7px 1px #858585;
	 filter: dropshadow(color=#858585, offx=0.5, offy=0.7);*/
}
ul, li {
	list-style: none;
	right: 0;
	padding: 0 0 0 10px;
}
ul {
	text-align: center;
}
ul li {
	display: inline-block;
	margin-right: .75em;
	margin-top: 10px;
}
ul li.last {
	margin-right: 0;
}
.main-page-tiles h2 {
	text-align: center;
	font-family: Tangerine Regular;
	font-size: 40px;
}

.search {
	float: right;
}

.project .navigation nav {
	height: 10%;
}

/* Parent Container
 *  Login Form */
.login {
	margin: auto;
	margin-top: 200px;
	width: 30%;
	height: auto;
	border: 2px solid #999;
	border-radius:4px;
	padding:1%;
}
/* Child Form
 Contents :
 1. Input Fields:  Username
 2. Password
 3. Button: Login
 *
 * */
.form-login {
	width: 80%;
	margin: auto;
}
.form-title {
	border-bottom: 1px solid #999;
	font-size: 20px;
	width: 100%;
	margin-bottom: 10px;
}
.form-title .title-text {
	padding: 5px 10px 5px 10px;
}
/*
 Input fields within Login Form
 Attribute => Default
 * */
.form-login input {
	padding: 10px 10px 10px 10px;
	width: 100%;
	border: 1px solid #999;
	outline: none;
	font-family: Quicksand;
	font-size: 100%;
}
/*
 Input fields within Login Form
 Attribute => Focus
 * */
.form-login input:focus {
	font-family: Quicksand Bold;
}
/*
 Button within Login Form
 * */
.form-login button {
	font-family: Quicksand;
}
form input, form textarea {
	border: 1px solid #999;
	outline: none;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
}
.form-login input:focus, form input:focus, form textarea:focus {
	-webkit-box-shadow: inset 0px 3px 6px -3px #000;
	-moz-box-shadow: inset 0px 3px 6px -3px #000;
	box-shadow: inset 0px 3px 6px -3px #000;
	border: 1px solid #3333FF;
}